.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.title {
		font-size: 25px;
	}

	.nothing {
		height: 400px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		font-size: 30px;
	}
}
.cartlist {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.item {
		width: 200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
	}
}
